@import 'tailwindcss';

@plugin 'flowbite/plugin';

@source '../../../node_modules/flowbite/**/*.js';

@theme {
  --color-*: initial;
  --color-primary-50: #f8fafc;
  --color-primary-100: #f1f5f9;
  --color-primary-200: #e2e8f0;
  --color-primary-300: #cbd5e1;
  --color-primary-400: #94a3b8;
  --color-primary-500: #64748b;
  --color-primary-600: #475569;
  --color-primary-700: #334155;
  --color-primary-800: #1e293b;
  --color-primary-900: #0f172a;
  --color-primary-950: #020617;

  --color-prim: #e1d6dc;
  --color-link-water: #c9ccdc;
  --color-lavender-gray: #c0c8db;
  --color-ship-cove: #838bad;
  --color-chambray: #464e7f;

  --font-*: initial;
  --font-sans: Geist;
  --font-logo: Borel;

  --animate-fadeout: fadeout 1.5s ease-out;

  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility btn-getting {
  @apply cursor-pointer text-center leading-none 
           px-6 py-3 rounded-full shadow-[0_0_0_1px_#241c15] border-none 
           inline-block relative transform translate-y-0 
           transition-all duration-300 ease-[cubic-bezier(.5,2.5,.7,.7)] 
           hover:-translate-y-1 hover:shadow-[0_4px_0_1px_#241c15];
}

@layer utilities {
  a.active {
    @apply bg-prim;
  }
}

@font-face {
  font-family: "Geist";
  src: url("Geist.woff2");
}

@font-face {
  font-family: "Borel";
  src: url("Borel.ttf");
}

.pagy {
  @apply flex space-x-1 font-semibold text-black;
  a:not(.gap) {
    @apply block rounded-lg px-3 py-1 bg-link-water;
    &:hover {
      @apply bg-lavender-gray;
    }
    &:not([href]) {
      @apply text-black bg-prim cursor-default;
    }
    &.current {
      @apply text-black bg-prim;
    }
  }
  label {
    @apply inline-block whitespace-nowrap bg-link-water rounded-lg px-3 py-0.5;
    input {
      @apply bg-link-water border-none rounded-md;
    }
  }
}
