<h1 class=" text-xl">Dashboard</h1>

<div class="stats shadow">
  <div class="stat place-items-center">
    <div class="stat-title">Total Contact List</div>
    <div class="stat-value"><%= @contact_count %></div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Total Subscribers</div>
    <div class="stat-value text-secondary"><%= @total_subscribers %></div>
  </div>

  <div class="stat place-items-center">
    <div class="stat-title">Campaign Scheduled</div>
    <div class="stat-value">0</div>
  </div>
</div>
