<section class="flex flex-col items-center justify-center p-20 h-96">
  <h1 class="text-5xl font-bold">Pay Only for Your Outreach</h1>
  <h5 class="text-2xl mt-4">Grow Your Audience Without Limits</h5>
  <p class="text-xl mt-4">Expand your audience effortlessly and pay only for the outreach you make—simple, transparent, and limitless growth</p>
  <%= link_to "Get started", new_registration_path, class: " delay-150 duration-300 hover:-translate-y-1 bg-chambray hover:bg-chambray mt-4 p-3 text-white text-md rounded-full border-2 border-black hover:border-b-8" %>    
</section>

<section class="grid grid-cols-3">
  <div class="bg-prim p-3">
    <h5 class="text-xl">Subscriber Widgets</h5>
    <p>Boost your audience effortlessly with sleek, customizable widgets that integrate seamlessly into any website. Attract and manage subscribers like never before.</p>
  </div>
  <div class="bg-link-water p-3">
    <h5 class="text-xl">Scalable Bulk Emailing</h5>
    <p>Reach thousands—or millions—of inboxes with confidence. Our powerful infrastructure ensures fast, reliable, and secure email delivery at any scale.</p>
  </div>
  <div class="bg-lavender-gray p-3">
    <h5 class="text-xl">Flexible Email Templates</h5>
    <p>Create emails that impress. Use your own designs or craft professional campaigns in minutes with our intuitive drag-and-drop editor.</p>
  </div>
</section>