<section class="p-6 leading-8 max-w-7xl mx-auto">
  <h1 class="text-2xl underline">Terms and Conditions</h1>
  <p>Effective Date: 20/12/2024</p>
  <h2 class="text-lg">1. User Responsibilities</h2>
  <p>Users must:</p>
  <ul class="list-disc list-inside">
    <li>Not send spam or unwanted emails.</li>
    <li>Comply with the policies of other email providers.</li>
    <li>Provide unsubscribe link</li>
  </ul>
  <h2 class="text-lg">2. Account Termination</h2>
  <p>We reserve the right to terminate user accounts for:</p>
  <ul class="list-disc list-inside">
    <li>Misuse of the service</li>
    <li>Regular spam</li>
    <li>Any kind of adult content</li>
  </ul>
  <h2 class="text-lg">3. Service Limitations</h2>
  <p>No additional limitations or disclaimers apply to our services.</p>
  <h2 class="text-lg">4. Liability</h2>
  <ul class="list-disc list-inside">
    <li>We are not liable for any damages resulting from service interruptions.</li>
    <li>We do not take responsibility for user-generated content, including spam or adult content.</li>
    <li>Users are responsible for their own actions while using our service.</li>
  </ul>
  <h2 class="text-lg">5. Payment Terms</h2>
  <p>We offer lifetime billing and charge based on usage. No free trial is provided.</p>
  <h2 class="text-lg">6. Governing Law</h2>
  <p>These terms will be governed by and construed in accordance with the laws of the state in which your business is located, without regard to its conflict of law provisions.</p>
  <h2 class="text-lg">7. Modification of Terms</h2>
  <p>Users will be notified of changes to these terms via a notice on our website and through email.</p>
  <h2 class="text-lg">8. Consumer Protection (US)</h2>
  <p>Users have the right to dispute charges with their payment provider in accordance with applicable consumer protection laws.</p>
</section>