<% content_for(:title, "Update your password") %>
<section class="max-w-sm mx-auto lg:mt-16 mb-12">
  <div class="fieldset border border-base-300 rounded-box p-8">
      <h1 class="text-xl font-bold leading-tight tracking-tight">
          Update your password
      </h1>
      <%= form_with url: password_path(params[:token]), method: :put do |form| %>
        <fieldset class="fieldset">
          <legend class="fieldset-legend">New Password</legend>
          <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Enter new password", maxlength: 72, class: "input" %>
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend">Confirm Password</legend>
          <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Repeat new password", maxlength: 72, class: "input" %>
        </fieldset>

        <%= form.submit "Update Password", class: "btn btn-neutral" %>
      <% end %>
  </div>
</section>