<%= turbo_frame_tag "modal_form_content" do %>
  <%= form_with model: @csv_upload, 
                url: upload_contact_subscribers_path, 
                data: { controller: "upload", action: "upload#submit" } do |form| %>
    <fieldset class="fieldset">
      <legend class="fieldset-label">Upload CSV file</legend>
      <%= form.file_field :csv_file, 
                          direct_upload: true,
                          data: { upload_target: "file" },
                          class: "file-input file-input-neutral" %>
      <p class="fieldset-label">.csv file only</p>
    </fieldset>
    <%= form.submit "Upload", class: "btn btn-neutral w-full" %>
  <% end %>
<% end %>
