<div class="p-5">
  <%= turbo_frame_tag "modal_form_content" do %>
    <div class="text-center">
      <p class="mb-4">CSV import started. You'll be notified when it's complete.</p>
      <button type="button" 
              class="bg-link-water hover:bg-lavender-gray focus:ring-4 focus:outline-none focus:ring-lavender-gray font-medium px-5 py-2.5"
              data-modal-hide="<%= local_assigns[:modal_id] || 'csvUploadModal' %>">
        Close
      </button>
    </div>
  <% end %>
</div>