<%= turbo_frame_tag "modal_form_content" do %>
  <section class="text-center">
    <%= image_tag "circle-check.svg", size: "48", class: "mx-auto mb-2" %>
    <p>CSV import started. You'll be notified when it's complete.</p>
  </section>
<% end %>