<section class="flex flex-col">
  <h1 class="text-primary-900 text-2xl">List of campaigns</h1>
  <hr class="h-px my-2 bg-primary-900 border-0">
  <div class="grid grid-flow-col auto-cols-max gap-4 my-6">
    <% @campaigns.each do |campaign| %>
      <%= link_to campaign_subscribers_path(campaign), class: "p-3 bg-white text-center border border-lavender-gray rounded-lg shadow-sm hover:bg-lavender-gray" do %>
        <span class="mb-2 text-2xl tracking-tight"><%= campaign.name %> (<%= number_to_k(campaign.subscribers.size) %>)</span>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= link_to "Create a new campaign", new_campaign_path, class: "w-full bg-link-water hover:bg-lavender-gray focus:ring-4 focus:outline-hidden focus:ring-primary-300 font-medium px-5 py-2.5 text-center" %>
  </div>
</section>
