@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  @apply bg-prim;
}

@layer components {
  .btn-getting {
    @apply cursor-pointer text-center leading-none 
           px-6 py-3 rounded-full shadow-[0_0_0_1px_#241c15] border-none 
           inline-block relative transform translate-y-0 
           transition-all duration-300 ease-[cubic-bezier(.5,2.5,.7,.7)] 
           hover:-translate-y-1 hover:shadow-[0_4px_0_1px_#241c15];
  }
}

@font-face {
  font-family: "Geist";
  src: url("Geist.woff2");
}

@font-face {
  font-family: "Borel";
  src: url("Borel.ttf");
}

.pagy {
  @apply flex space-x-1 font-semibold text-black;
  a:not(.gap) {
    @apply block rounded-lg px-3 py-1 bg-link-water;
    &:hover {
      @apply bg-lavender-gray;
    }
    &:not([href]) {
      @apply text-black bg-prim cursor-default;
    }
    &.current {
      @apply text-black bg-prim;
    }
  }
  label {
    @apply inline-block whitespace-nowrap bg-link-water rounded-lg px-3 py-0.5;
    input {
      @apply bg-link-water border-none rounded-md;
    }
  }
}
