<div data-controller="email-editor">
  <div class="flex items-end justify-end gap-1 mb-1">
    <input type="text" 
            placeholder="Enter template name"
            data-email-editor-target="name"
            required
            class="px-2 py-2 text-base font-light focus:ring-primary-600 focus:border-primary-600 rounded-sm">
    <button
      class="px-2 py-2 text-base font-light text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-sm text-center"
      data-action="click->email-editor#saveHtml">Save</button>
  </div>
  <div class="flex items-end justify-end">
    <span class="text-sm text-red-600" data-email-editor-target="error"></span>
  </div>
  <div id="editor" class="h-[700px]"></div>
</div>