<div data-controller="email-editor">
  <div class="flex items-end justify-end gap-1 mb-1">
    <input type="text" 
            placeholder="Enter template name"
            data-email-editor-target="name"
            required
            class="px-2 py-2 text-base font-light focus:ring-lavender-gray focus:border-lavender-gray">
    <button
      class="px-2 py-2 text-base font-light text-white bg-link-water hover:bg-lavender-gray focus:ring-4 focus:outline-hidden focus:ring-lavender-gray text-center"
      data-action="click->email-editor#saveHtml">Save</button>
  </div>
  <div class="flex items-end justify-end">
    <span class="text-sm text-red-600" data-email-editor-target="error"></span>
  </div>
  <div id="editor" class="h-[700px]"></div>
</div>