<h1 class="text-xl">New email template</h1>
<div class="my-8">
  <%= link_to "Drag and drop editor", 
     draganddrop_email_templates_path,
    class: "px-6 py-3.5 text-base font-medium text-white bg-primary-700 hove:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg text-center" 
  %>
  <%= link_to "Copy-paste your own html template", 
    new_email_template_path,
    class: "px-6 py-3.5 text-base font-medium text-white bg-primary-700 hove:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg text-center" 
  %>
</div>

<section class="my-5">
  <h1 class="text-xl">Your Templates</h1>
</section>
<section class="grid grid-cols-4 gap-4">
    <% @email_templates.each do |email| %>
      <div class="p-2 border-2 h-10 text-center">
        <%= link_to "#{email.name}", edit_email_template_path(email) %>
      </div>
    <% end %>
</section>