<% if Current.user.confirmed_at.nil? %>
  <div role="alert" class="alert alert-error alert-soft">
    <p>Please confirm your email address to activate your account. <%= button_to "Re-send confirmation email", resend_confirmation_email_path, class: "link" %></p>
  </div>
<% end %>
