<header class="sticky top-0 z-50 bg-white">
  <nav class="border-gray-200 px-6 py-2.5 mt-2">
    <div class="flex flex-wrap justify-between mx-auto max-w-(--breakpoint-xl)">
      <%= link_to root_path, rel: "dofollow",class: "flex items-center" do %>
        <span class="-mt-4"><%= image_tag "logo.svg", width: 45, alt: "Piegon" %></span>
        <span class="self-center mt-3 font-logo text-2xl whitespace-nowrap">Piegon</span>
      <% end %>
      <div class="flex flex-row gap-3 order-2">
        <%= link_to "Pricing", "#{root_path}#pricing", class: "block py-2 pr-2 pl-2 text-black rounded-sm hover:bg-gray-100" %>
        <%= link_to "Sign in", new_session_path, class: "btn btn-neutral rounded-full" %>
      </div>
    </div>
  </nav>
</header>
